@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
}
header {
    width: 1000px;
    background-color:#ffcccc;
}
header p{
    margin-top: 0;
    margin-bottom: 0;
}
#wrapper{
    display: flex;
    width: 1000px;
}
#main {
    width: 700px;
  background-color:#ccffcc;
}
#menu {
    width: 300px;
    background-color:#ccccff;
}
footer{
    width:1000px;
    background-color:#ffccff;
}
footer p{
    margin-top:0;
    margin-bottom:0;
}